:root {
  --main-colour: black;
  --accent-colour: black;
  --song-border: solid black 1px;
}

.flex-column {
  display        : flex;
  flex-direction : column;
}

.flex-row {
  display        : flex;
  flex-direction : row;
}

.container {
  width: 75vw;
}

.title {
  font-family: poiret;
  font-size: 80px;
  font-weight: bold;
  color: rgb(172, 174, 255);
}

@font-face {
  font-family : Quicksand;
  src         : url(../font/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family : DMSans;
  src         : url(../font/DM_Sans/DMSans-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family : Noto;
  src         : url(../font/Noto_Serif/NotoSerif-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family : Ephesis;
  src         : url(../font/Ephesis/Ephesis-Regular.ttf);
}

@font-face {
  font-family : poiret;
  src         : url(../font/Poiret_One/PoiretOne-Regular.ttf);
}

body {
  display          : flex;
  align-items      : center;
  flex-direction   : column;

  margin           : 0;
  padding          : 0;

  color            : white;
  background-color : rgb(26, 26, 26);
  box-shadow       : 0 0 50px inset rgb(12, 12, 12);

  font-family      : Quicksand, serif;
}

.two-div-flex {
  display         : flex;
  justify-content : space-between;
}

.portrait {
  width : 12vw;
}

.img-flex {
  width : fit-content;
}

#header {
  display         : flex;
  align-items     : center;
  justify-content : center;
  flex-direction  : column;

  height: 100vh;
}

#header-title {
  font-size   : 10vw;
  font-family : poiret, serif;
  font-weight : 400;
}

#header-talents {
  width: 100%;

  margin-top: 20vh;

  font-size: 2vw;

  justify-content: space-evenly;
}

#my-story {
  height: 160vh;

  align-items     : center;
  justify-content : space-evenly;
}

#my-story-content {
  height          : fit-content;
  width           : 100%;

  justify-content: space-between;
}

#my-story-text {
  max-width: 47%;
}

#my-story-title {
  padding-bottom : 2rem;
  margin-bottom  : 2rem;

  border-bottom  : 2px solid rgb(60, 61, 119);

  font-family    : poiret, serif;
  font-size      : 60px;
  font-weight    : bold;
  color          : rgb(172, 174, 255);
  border-bottom: 2px solid rgb(60, 61, 119);
}

#my-story-desc {
  padding     : 0 3%;

  font-size   : 18px;
  font-weight : 500;
  color       : rgb(255, 255, 255);

  line-height : 2.5rem;
}

#my-story-desc > p {
  margin-top    : 0;
  margin-bottom : 20px;
}

#my-story-imgs {
  width: 30vw;

  padding-top    : 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#second-img {
  width           : 100%;
  display         : flex;
  justify-content : end;
}

.song {
  padding: 3% 3% 8% 3%;

  border-radius: 4px;
}

.song-cover {
  width: 12vw;

  border-radius: 4px;
}

.song-title {
  padding-top: 1.5rem;

  font-size: 1.8vw;
  font-weight: 600;
  font-family: Poiret;
}

#my-music {
  height: 60vh;

  justify-content : center;
  align-items     : center;
}

#my-music-title {
  width : 100%;
}

#my-music-container {
  align-items: center;

  width           : 100%;
}
